<%- include('includes/head.ejs') %>

</head>
<body class="d-flex flex-column h-100">
    <%- include('includes/components/header.ejs') %>

    <main role="main">
        <div class="container">
            <img src="/images/homepage-design.jpg" alt="home image">
        </div>
    </main>

<%- include('includes/end.ejs') %>