<%- include('../includes/head.ejs') %>

</head>
<body class="d-flex flex-column h-100">
    <%- include('../includes/components/header.ejs') %>

    <main role="main">
        <div class="container">
            <img src="/images/404-vector.jpg" alt="Page not found" />
        </div>
    </main>

<%- include('../includes/end.ejs') %>