<div class="users-grid row">
    <% if (users.length > 0) { %>
        <% for (user of users) { %> 
            <div class="col-md-4"> <%- include('user-tile.ejs') %>  </div>
        <% } %> 
    <% } else { %>
        <p>There are no users</p>
    <% } %> 
</div>