<div class="card user-tile">
    <img src="images/user-icon.png" alt="User Tile Image" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title"><%= user.name + ' - ' + user.age + ' age' %> </h5>
        <a href="#" class="btn btn-primary">More info</a>
    </div>
</div>