<%- include('../../includes/head.ejs') %>

</head>
<body class="d-flex flex-column h-100">
    <%- include('../../includes/components/header.ejs') %>

    <main role="main">
        <div class="container">
            <form action="/admin/products" method="POST" class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="input1" class="sr-only"></label>
                    <input type="text" class="form-control" name="title" placeholder="Title of product" id="input1" />
                </div>

                <button class="btn btn-primary mb2" type="submit">Add</button>
            </form>
        </div>
    </main>

<%- include('../../includes/end.ejs') %>