<%- include('../includes/head.ejs') %>

</head>
<body class="d-flex flex-column h-100">
    <%- include('../includes/components/header.ejs') %>

    <main role="main">
        <div class="container">
            <%- include('grid.ejs') %> 
        </div>
    </main>

<%- include('../includes/end.ejs') %>