.card.product-tile
  img.card-img-top(src="https://assets.entrepreneur.com/content/3x2/2000/20191219170611-GettyImages-1152794789.jpeg", alt="Book")
  .card-body
    h5.card-title #{product.title}
    p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
    a.btn.btn-primary(href="#") Go somewhere