<div class="card product-tile">
    <img src="https://assets.entrepreneur.com/content/3x2/2000/20191219170611-GettyImages-1152794789.jpeg" alt="Product Tile Image" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title"><%= product.title %> </h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
</div>